body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 {
    text-align: center;
}

#body-size-buttons, #diet-plan-table, #guidelines, #print-buttons {
    margin: 20px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}
.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
  }


button:hover {
    background-color: #45a049; /* Darker green on hover */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

#diet-plan-list {
    display: none;
}



@media (min-width: 600px) {
    button {
        width: auto;
        display: inline-block;
    }

    table, th, td {
        text-align: center;
    }
}

@media (max-width: 600px) {
    table {
        display: none; /* Hide table on small screens */
    }

    #diet-plan-list {
        display: block; /* Show list on small screens */
    }
    
    .day {
        margin-bottom: 20px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #f9f9f9;
    }
}
